.container {
  
  }
  
  .textSection {

  }
  
  .text {
    font-size: 16px;
    text-align: end;
  }
  
  .buttonSection {
    margin-top: 40px;
    text-align: center;
    border-top: 1px solid;
    border-bottom: 1px solid;
  }
  
  .title {
    font-size: 24px;
  }
  
  .description {
    font-size: 18px;
  }
  
  .formButton {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border-radius: 20px;
    text-decoration: none;
  }
  
  .arrow {
    margin-left: 5px;
  }
  
  .twoColumnSection {
    display: flex;
    margin-top: 40px;
  }
  
  .addressColumn {
    flex: 2;
  }
  
  .touchColumn {
    flex: 3;
    text-align: center;
  }
  
  .addressTitle,
  .touchTitle {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .actualAddress {
    text-align: left;
    font-size: 18px;
  }
  
  .copyButton {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
  }
  
  .emailIcon {
    background-color: white;
    width: 20px;
    height: 20px;
    margin-right: 10px;
    border-radius: 5px;
  }
  