.page-header{
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 40%, rgba(0, 0, 0, 1));
    color: white;
    height: 100vh;
    width: 100vw;
    padding: 4vw;
    padding-bottom: 8vh;
    display: flex;
    flex-direction: column;
    justify-content: end;
  }
  
  .page-header-overlay{
    background:url("https://images.pexels.com/photos/3321789/pexels-photo-3321789.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1") no-repeat;
    background-size: cover;
    width: 100vw;
  }
  
  .page-header-title{
    text-transform: uppercase;
    font-size: 6vmax;
    font-weight: 900;
    letter-spacing: 0.2rem;
    
    width: fit-content;
    padding: 0rem 1rem;
  }
  
  .page-header-description{
    text-transform: capitalize;
    font-size: 3vmax;
    margin-bottom: 1rem;
    padding: 0rem 1rem;
  }
  
