.HomepageProjectSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
  padding-block: 3em;
}

.section-title {
  font-size: 2.5rem;
  font-weight: 500;
  align-self: flex-start;
  padding-inline: 3em;
  color: black;
}

html.dark .wwd-card-section::after {
  border: 1px solid white;
}

html.dark .section-title {
  color: white
}

.section-header {
  font-size: 1.5rem;
  margin: 0;
  padding: 15px;
  color: white;
  text-align: left;
  align-self: flex-start;
}

.section-content {
  display: flex;
}

.view-more-button {
  font-size: 1rem;
  /* margin: 0; */
  padding: 15px;
  color: white;
  text-align: center;
  align-self: center;
  text-decoration: underline;
  border: 0px solid white;
  /* border-radius: 26px; */
  /* position: relative; */
  /* margin-top: 10px;
}



.view-more-button span {
  display: inline-block;
  transition: transform 0.3s ease-in-out;
}

.view-more-button:hover span {
  transform: translateX(5px);
  /* Move the arrow to the right on hover */
}