.header {
    /* background-color: rgb(0, 0, 0); */
        margin: 10px;
}

.app-bar {
    border-radius: 25px;
    flex-direction: row;
}

.toolbar {
    background-color: rgba(13, 62, 102, 0.075);

}


.logo {
    height: 60px;
    width: 60px;
    padding-left: 5px;
    padding-right: 20px;
}

.logo-img {
    height: 100%;
    width: 100%;
    object-fit: contain;
    border-radius: 10px;
}

.navbuttons {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.nav-item {
    margin-left: 20px;
}

.nav-link {
    color: #fff;
    margin-left: 20px;
    padding-right: 120px;
    text-decoration: none;
    font-weight: bold;

}

.nav-link:hover {
    color: #00e676;
}

.user-menu {
    margin-left: auto;
}

.user-icon {
    color: #fff;
}

.user-icon:hover {
    color: #00e676;
}

.logo {
    height: 40px;
    width: 40px;
}