.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;

  position: sticky;
  padding: 0rem 3rem;
  top: 10px;
  z-index: 20;
}

.navbar-brand{
    display: flex;
    align-items: center;
    gap:0.5rem;
    background: white;
    border-radius: 32px;
    padding: 0.5rem 1rem;
    filter: drop-shadow(0 1px 1px rgb(0 0 0 / 0.05));
}

.navbar-brand-logo{
    border-radius: 50%;
}

.navbar-brand-title{
    color: black;
    font-size: 1rem;
    font-weight: 500;
}

.navbar-menu{
    display: flex;
    align-items: center;   
    gap:1rem 
}

.navbar-menu-routes{
    background-color: white;
    font-size: 1.1rem;
    padding: 1rem 2rem;
    border-radius: 50px;
    color: black;

    align-items: center;
    gap: 1rem;
    display: flex;
}

.navbar-menu-routes-true {
    animation: example 0.3s forwards;
}
.navbar-menu-routes-false {
    animation: example 0.3s reverse forwards;
}

@keyframes example {
    from {opacity: 0; display: none; visibility: hidden;}
    to {opacity: 1;display: flex;visibility: visible;}
}


.navbar-menu > button {
    padding: 1rem;
    display: flex;
    align-items: center;
    border-radius: 50%;
    border: none;
    background: white;
    color: black;
    font-size: 1.1rem;
    cursor: pointer;
    filter: drop-shadow(0 1px 1px rgb(0 0 0 / 0.05));
}