.wwd-card {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    padding: 1rem;
    margin-inline: 1em;
    flex: 0.32 1;
    position: relative;
    z-index: 10;
    transition: 0.5s;
    border-radius: 10px;
}

.wwd-card:hover {
    border-radius: 40px;
}

.wwd-card-title {
    font-size: 3rem;
    text-align: right;
    font-weight: 600;
    padding: 0.6em;
}

.wwd-card-description {
    font-size: 1.1rem;
    text-align: left;
    padding-inline: 2em;
    padding-block-end: 2em;
}

@media screen and (max-width: 980px) {
    .wwd-card {
        min-width: 300px;
    }

}